h1, h2, h3, h4, h5 {
  color: #8cc84b;
}
ul li {
  color: #8cc84b !important;
}

ul.trophies {
  padding-left: 0;

  .trophy {
    list-style: none;
    display: inline-block;
    margin-left: 5px;

    .trophy-avatar {
      display: none;
    }

    .trophy-identicon, .trophy-avatar {
      width: 40px;
      height: 40px;
    }

    &:hover {
      .trophy-avatar {
        display: inline-block;
      }

      .trophy-identicon {
        display: none;
      }
    }
  }
}

.puzzle {
  margin-top: 20px;
  
  .panel {
    background-color: #eee;
  }
  .githubbers {
    float: right;
    .githubber {
      float: left;
    }
  }
  .table-container {
    margin-top: 20px;
    display: inline-block;
    position: relative;
  }
  .you-win {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .lobby-user {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .alert {
    margin-bottom: 20px;
  }
  table {
    width: auto;
    margin: 0;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;

    td {
      color: #eee;
      padding: 0 !important;
      &:nth-child(5n+1) {
        border-right: 3px solid #ccc;
      }
    }
    tr {
      &:nth-child(5n+1) {
        td {
          border-bottom: 3px solid #ccc;
        }
      }
    }
    .empty {
      background-color: #33342d;
    }
    .col-clues {
      vertical-align: bottom;
      text-align: center;
      background-color: #33342d;
      font-weight: bold;
    }
    .row-clues {
      text-align: right;
      vertical-align: middle;
      padding-left: 10px;
      background-color: #33342d;
      font-weight: bold;
      white-space: nowrap;
    }
    .pixel {
      height: 30px;
      width: 30px;
    }
    .filled {
      background-color: gray;
    }
    .flagged {
      background-color: black;
    }
    .done {
      color: #8cc84b;
    }
    .col-clue {
      &:first-child {
        margin-top: 15px;
      }
      &:last-child {
        margin-bottom: 10px;
      }
    }
    .row-clue {
      display: inline-block;
      margin-right: 5px;

      &:first-child {
        margin-left: 15px;
      }
      &:last-child {
        margin-right: 10px;
      }
    }
  }
}
.modal {
  .modal-header {
    background-color: #8cc84b;

    h4 {
      color: #fff;
    }
  }
  .modal-content {
    border-radius: 0;
  }
}
