.filled {
  background-color: gray;
}

.flagged {
  background-color: black;
}

.pixel {
  width: 20px;
}

.done {
  color: green;
}

table {
  border-collapse:collapse;
}

td {
  border: solid 1px;
}

.row-clues {
  width: 80px;
}

.row-clues div {
  margin-right: 5px;
  float: right;
}

.col-clues div {
  display: block;
}
