extends ../layouts/default

block head
  title Gitcross

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js")
  script(src="//cdn.goinstant.net/v1/platform.min.js")

block feet
  script(src='/views/index.min.js')
  script(src='/views/sync.min.js')

block body
  .container.puzzle(ng-app="gitcross", ng-controller="PuzzleCtrl", ng-cloak="")
    .row
      .col-sm-8
        .intro.alert.alert-success.alert-dismissable
          button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
          p
            | Gitcross is a new variation on <a class="alert-link" href="http://en.wikipedia.org/wiki/Nonogram" target="_blank" >Picross (aka Nonogram)</a>, an addictive logic game from Japan.
            | Each puzzle is made up of one or more <a class="alert-link" href="https://github.com/blog/1586-identicons" target="_blank" >GitHub Identicons</a> from some of our favorite GitHub users.
            | Complete puzzles to unlock them as trophies!
        .new-game
          .btn-group
              button.btn.btn-success(type='button', ng-click='newGame()') New Game
              button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
              ul.dropdown-menu(role='menu')
                li: a(href='#', ng-click='size = 1;newGame()') Easy (5 x 5)
                li: a(href='#', ng-click='size = 2;newGame()') Medium (10 x 10)
                li: a(href='#', ng-click='size = 3;newGame()') Hard (15 x 15)
          |
          button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal')
            i.icon-question-sign
            |  How to Play
        .table-container
          table.table.table-bordered
            tr
              td.empty
              td.col-clues(ng-repeat="col in colClues")
                .col-clue(ng-repeat="clue in colClues[$index] | reverse", ng-class="{ done: clue.completed }")
                  {{ clue.num }}
            tr.puzzle-row(ng-repeat="row in myChoices.rows")
              td.row-clues
                span.row-clue(ng-repeat="clue in rowClues[$index]", ng-class="{ done: clue.completed }" )
                  {{ clue.num }}
              td.pixel(ng-repeat="pixel in row.pixels", ng-class="{ filled: pixel.chosen, flagged: pixel.flagged }" ng-click="choosePixel(pixel)" ng-right-click="flagPixel(pixel)")
          .githubbers
            .githubber(ng-repeat="githubber in githubbers")
              a(target="_blank", href="https://github.com/{{ githubber.username }}")
                img.githubavatar(ng-src="{{ githubber.gravatar }}", width="40", height="40", rel='tooltip', data-title='{{ githubber.name }} ({{ githubber.username }})', data-placement='bottom')
          span.label.label-success.time-elapsed
            {{ time | date:'mm:ss' }}
          .you-win(ng-show="done")
            h3 You Won!!
            button.btn.btn-success(type='button', ng-click='newGame()') Play Again
        div.clearfix
      .col-sm-4
        .panel.panel-success
          .panel-heading
            .panel-title Your Trophy Case
          .panel-body
            p(ng-hide="self.displayName") Connecting...
            .no-trophies(ng-show="trophies.length == 0 && self.displayName")
              p You haven't earned any trophies yet. Complete a puzzle to earn your first trophy!
              p <strong>What's a trophy?</strong>
              p Each puzzle is made up of one or more <a href="https://github.com/blog/1586-identicons">GitHub Identicons</a>.
              p Completing a puzzle unlocks their avatars as trophies. The harder the puzzle the more trophies you'll earn.
            ul.trophies(ng-show="trophies.length > 0")
              li.trophy(ng-repeat="trophy in trophies", rel='tooltip', data-title='{{ trophy.name }} ({{ trophy.username }})')
                a(href="https://github.com/{{ trophy.username}}", target="_blank")
                  img.trophy-avatar(ng-src="{{ trophy.gravatar }}")
                  img.trophy-identicon(ng-src="{{ trophy.identicon }}")
        .panel.panel-success
          .panel-heading
            .panel-title Currently Playing
          .panel-body
            p(ng-hide="self.displayName") Connecting...
            ul.lobby-user
              li(ng-hide="changeName || !self.displayName")
                .input-group
                  input.form-control(disabled='disabled', value='{{ self.displayName }} (you)')
                  span.input-group-btn
                    button.btn.btn-warning.btn-small(ng-click="changeName = true")
                      i.icon-cog
              li(ng-show="changeName")
                .input-group
                  input.form-control(type="text", ng-model="self.displayName")
                  span.input-group-btn
                    button.btn.btn-warning.btn-small(ng-click="changeName = false; setName(self.displayName)") Save
              li(ng-repeat="(key, player) in players")
                .player(popover-html-unsafe="{{ trophiesHTML(player) }}", popover-trigger="mouseenter", popover-placement="left", popover-title="Trophies")
                  | {{ player.displayName }}
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title How to Play
          .modal-body
            .how-to-play
              p The goal of the game is the same as traditional Picross, reveal the specific set of pixels on the grid in as short a time as possible.
              p Each row and each column has a set of numbers showing how many groups of pixels, and their size, exist in that row or column.
              p For example, if a row has a 3 and a 2, it means that this row contains a group of 3 pixels (with no spaces between them), followed by 1 or more spaces, then a group of 2 pixels, in order.
              p To choose a pixel, click it. To flag a pixel as a space, right-click (or ctrl+click) it. Flagging a space isn't required to solve a puzzle but it can really help!
              p Tip: Easy puzzles only contain 5 pixels per row or column. So if you see a row or a column with a 5, just click on all of its pixels.
              p If you're still perplexed, check out <a href="http://en.wikipedia.org/wiki/Nonogram" target="_blank">Wikipedia</a> for more including various strategies for solving the puzzles.
