extends ../layouts/default

block head
  title Gitcross

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Gitcross
    p.lead
      | New board coming soon! Just you wait. What else you gonna do?
