extends ../layouts/default

block head
  title Gitcross

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
  script(src="//cdn.goinstant.net/v1/platform.min.js")

block feet
  script(src='/views/index.min.js')
  script(src='/views/sync.min.js')

block body
  .container.puzzle(ng-app="gitcross", ng-controller="PuzzleCtrl", ng-cloak="")
    .row
      .col-sm-8
        .new-game
          .btn-group
              button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
                i.icon-plus-sign
                |  New Game
              ul.dropdown-menu(role='menu')
                li: a(href='#', ng-click='newGame(1)') Easy (5 x 5)
                li: a(href='#', ng-click='newGame(2)') Medium (10 x 10)
                li: a(href='#', ng-click='newGame(3)') Hard (15 x 15)
          | 
          button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal')
            i.icon-question-sign
            |  How to Play
        table.table.table-bordered
          tr
            td.empty
            td.col-clues(ng-repeat="col in colClues")
              .col-clue(ng-repeat="clue in colClues[$index] | reverse", ng-class="{ done: clue.completed }")
                {{ clue.num }}
          tr.puzzle-row(ng-repeat="row in myChoices.rows")
            td.row-clues
              span.row-clue(ng-repeat="clue in rowClues[$index]", ng-class="{ done: clue.completed }" )
                {{ clue.num }}
            td.pixel(ng-repeat="pixel in row.pixels" ng-class="{ filled: pixel.chosen, flagged: pixel.flagged }" ng-click="choosePixel(pixel)" ng-right-click="flagPixel(pixel)")
        p.time-elapsed
          {{ time | date:'mm:ss' }}
        h1(ng-show="done") You solved it!!
      .col-sm-4
        .githubbers
          h3 Solve this puzzle to earn the following trophies:
          .githubber(ng-repeat="githubber in githubbers")
            a(target="_blank", href="https://github.com/{{ githubber.username }}")
              img.githubavatar(ng-src="{{ githubber.gravatar }}", width="40", height="40")
              span.githubname
                | {{ githubber.name }} ({{ githubber.username }})
        h2 Other Players:
        ul.lobby-user
          li(ng-repeat="(key, player) in players")
            {{ player.displayName }}
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title How to Play
          .modal-body
            | this is the body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
